@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic); 
@import url(https://fonts.googleapis.com/css?family=Arvo:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Aclonica);

@font-face {
  font-family: 'Vollkorn' 'Open-Sans', 'Aclonica';
  font-weight: normal;
  font-style: normal; 
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
	/* font-family: 'Playfair Display'; */
	font-family: 'Vollkorn';
}



p {
	font-family: 'Open Sans';
	font-size: 108%;
}

/*
h1.entry-title {
	/* font-variant: small-caps; */
	font-size: 600;	
}

div.section h2 {
	font-variant: small-caps;
	#font-size: 400;	
}
*/

header.page-header  h1 {
	font-variant: small-caps;
	font-size: 500;
}

a.navbar-brand {
	font-family: 'Vollkorn';
	font-weight: 900;
	font-size: 280%;
}
.highlight pre {
	font-size: 100%;
}

.footnote {
	font-size: 92%;
	line-height: 0.9em; 
}

.list-group-item {
	line-height: 0.9em; 	
}

div#aboutme .img-thumbnail {
	border: 15px solid transparent;
	padding: 15px;
	border-image:url(border.png) 60 round;
	transform: rotate(-5deg);
}}

/*
code {
	padding:2px 4px;
	font-size:100%;
	white-space:nowrap;
	background-color:#080808;
	color:#b0b0b0;
	border-radius:4px
}
*/

span.lineno  {
	box-sizing: border-box;
	border-right: 2px solid #00cccc;
	margin-right: 20px;
	float: left;
    width: 40px;
}

div.highlight pre span.lineno {
	box-sizing: border-box;
	border-right: 1px solid #cccc00;
	margin-right: 20px;
	float: left;
    width: 40px;
}

span.fn-backref { 
	color: #003366;
}

span.foumula { 
	font-size: 1.6em;
}


p.topic-title first {	
	background-color: #003366; 
}


/*
div.toc {
	clear:both;
	float:right;
	width:220px;
	/* right: 0em; 
	/^ top: 0em;   */

/*
div.toc li {
	display: none; } /* Hide the full TOC by default 
	
div.toc:hover li {
  display: block; /* Show it on hover */
}
*/

tt {
	background-color: #003366;
}